<html lang="ru">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/css/addQuestion.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="addQuestion()">

    <form id="quiz-form">
        <!-- Вопросы будут добавляться сюда -->
    </form>
    <script src="static/scripts/addQuiz.js"></script>
</body>
</html>
