<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>WebSocket Example</title>
</head>
<body>
<div class="field" >
    <ul id = "messages">
    </ul>
</div>
<div id="main">
    <button class="answer" style="width: 400px; margin-left: 10px" id="button">Start</button>
</div>
<script src="{{ url_for('static', path='/admin.gamee.js') }}"></script>
</body>
</html>