<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
<html lang="en">
<link rel="stylesheet" href="static/css/admin_login.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <script src="static/scripts/adminLogin.js"></script>
</head>
<body class="img">
    <form onsubmit="loginUser(event)">
        <div class="field">
            <div>
                <h2>Login Form</h2>
                <div class="fieldInput">
                    <label class="text" for="username">Username:</label><br>
                    <input class="inputFieald" type="text" id="username" name="username" required><br>
                    <label class="text" for="password">Password:</label><br>
                    <input class="inputFieald" type="password" id="password" name="password" required>
                </div>
                <div class="buttonPos">
                    <button class="button" type="submit">Login</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
