<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/css/admin_register.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <script src="static/scripts/adminRegistration.js"></script>
</head>
<body>
    <form onsubmit="registerUser(event)">
        <div class="field">
            <h2>Registration Form</h2>
            <div class="fieldInput">
                <label class="text" for="username">Username:</label><br>
                <input class="inputFieald" type="text" id="username" name="username" required><br>
                <label class="text" for="email">Email:</label><br>
                <input class="inputFieald" type="email" id="email" name="email" required><br>
                <label class="text" for="password">Password:</label><br>
                <input class="inputFieald" type="password" id="password" name="password" required><br>
                <label class="text" for="referralToken">Referral Token:</label><br>
                <input class="inputFieald" type="text" id="referralToken" name="referralToken">
            </div>
            <div class="buttonPos">
                <button class="button" type="submit">Register</button>
            </div>
        </div>
    </form>
</body>
</html>
