<!DOCTYPE html>
<html lang="ru, en">
    <head>
        <title>Item Details</title>
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <h1 id="quiz_name"> {{ quiz_name }} </h1>
            <span id="question">{{ question }}</span>
            <div class="answer_block">
                <span class="answer">{{ answer_1 }} </span>
                <span class="answer">{{ answer_2 }}</span>
            </div>
            <br><br>
            <div class="answer_block">
                <span class="answer">{{ answer_3 }} </span>
                <span class="answer">{{ answer_4 }}</span>
            </div>
        </div>
    </body>
</html>