<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
<html lang="en">
<link rel="stylesheet" href="/static/css/user_add.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <div class="field">
        <div class="elements">
            <p class="ans">Как вас зовут?</p>
            <label class="user" for="username"><input class="text" type="text" id="username" placeholder="имя пользователя" name="username"></label>
        </div>
        <div class="elButton">
            <button class="button" type="submit">Send</button>
        </div>
        
        <div id="response"></div>
    </div>
<script src="/static/scripts/userAdd.js"></script>
</body>
</html>